[submodule "modules/js/w2ui-artgins"]
	path = modules/js/w2ui-artgins
	url = https://github.com/artgins/w2ui-artgins.git
[submodule "kernel/c/root-linux-ext-libs/jansson-artgins"]
	path = kernel/c/root-linux-ext-libs/jansson-artgins
	url = https://github.com/artgins/jansson-artgins.git
