[submodule "libs/js/w2ui-artgins"]
	path = libs/js/w2ui-artgins
	url = git@github.com:artgins/w2ui-artgins.git
[submodule "kernel/c/root-linux-ext-libs/jansson-artgins"]
	path = kernel/c/root-linux-ext-libs/jansson-artgins
	url = git@github.com:artgins/jansson-artgins.git
