[submodule "utils/python/tui_yunetas"]
	path = utils/python/tui_yunetas
	url = https://github.com/artgins/tui_yunetas.py.git
[submodule "kernel/js/gobj-ui"]
	path = kernel/js/gobj-ui
	url = https://github.com/artgins/gobj-ui.js.git
	branch = main
