#------------------------------------------------#
#       General configuration options
#------------------------------------------------#

mainmenu "Yunetas Kernel Configuration"

#------------------------------#
#   Compiler
#------------------------------#
choice
    prompt "Compiler Selection"
    default USE_COMPILER_GCC

config USE_COMPILER_GCC
    bool "GCC compiler"
    help
        Select GCC as the compiler.

config USE_COMPILER_CLANG
    bool "Clang compiler"
    help
        Select Clang as the compiler.

config USE_COMPILER_MUSL
    bool "Musl compiler"
    help
        Select Musl as the compiler.

endchoice

#------------------------------#
#   Build Configuration
#------------------------------#
choice
    prompt "Build Type"
    default BUILD_TYPE_RELEASE

config BUILD_TYPE_RELEASE
    bool "Production"
    help
        Enable compiler optimizations for production builds.

config BUILD_TYPE_DEBUG
    bool "Debug"
    help
        Enable debug symbols and runtime checks for development
        and debugging purposes. Optimizations are reduced.

endchoice

#------------------------------#
#   TLS libraries
#------------------------------#
menu "TLS Library Selection"

config YTLS_USE_MBEDTLS
    bool "Use Mbed-TLS library"
    default y
    help
        Add mbed-tls as a TLS library to the YTLS API.

config YTLS_USE_OPENSSL
    bool "Use OpenSSL library"
    help
        Add OpenSSL as a TLS library to the YTLS API.

endmenu

#------------------------------#
#   Debug
#------------------------------#
menu "Debug Options"

config DEBUG_WITH_BACKTRACE
    bool "Use backtrace library"
    default y
    help
        Use backtrace library to print stack trace

config DEBUG_PRINT_YEV_LOOP_TIMES
    bool "Print times of yev_loop"
    default n
    help
        Enable print of elapsed times of several points in yev_loop

config DEBUG_TRACK_MEMORY
    bool "Enable track memory (WARNING: don't use with musl)"
    default n
    help
        Enable track memory to find leaks

endmenu

#------------------------------#
#   Modules
#------------------------------#
menu "Modules"
source "modules/c/Kconfig"
endmenu
