#------------------------------------------------#
#       General configuration options
#------------------------------------------------#

mainmenu "Yunetas Kernel Configuration"

#------------------------------#
#   Compiler
#------------------------------#
choice
    prompt "Compiler Selection"
    default USE_COMPILER_GCC

config USE_COMPILER_GCC
    bool "Use GCC compiler"
    help
        Select this option to use GCC as the compiler.

config USE_COMPILER_CLANG
    bool "Use Clang compiler"
    help
        Select this option to use Clang as the compiler.

config USE_COMPILER_MUSL
    bool "Use Musl compiler"
    help
        Select this option to use Musl as the compiler.

endchoice

#------------------------------#
#   TLS libraries
#------------------------------#
menu "TLS Library Selection"

config YTLS_USE_MBEDTLS
    bool "Use Mbed-TLS library"
    help
        Add mbed-tls as a TLS library to the YTLS API.

config YTLS_USE_OPENSSL
    bool "Use OpenSSL library"
    default y
    help
        Add OpenSSL as a TLS library to the YTLS API.

endmenu

#------------------------------#
#   Debug
#------------------------------#
menu "Debug Options"

config DEBUG_WITH_BACKTRACE
    bool "Use backtrace library"
    default y
    help
        Use backtrace library to print stack trace

config DEBUG_PRINT_YEV_ANY
    bool
    default DEBUG_PRINT_YEV_CONNECT_TIMES || \
            DEBUG_PRINT_YEV_ACCEPT_TIMES  || \
            DEBUG_PRINT_YEV_READ_TIMES    || \
            DEBUG_PRINT_YEV_WRITE_TIMES   || \
            DEBUG_PRINT_YEV_TIMER_TIMES

config DEBUG_PRINT_YEV_CONNECT_TIMES
    bool "Print times yev_loop YEV_CONNECT_TYPE"
    default n
    help
        Print elapsed times of several points in yev_loop YEV_CONNECT_TYPE event

config DEBUG_PRINT_YEV_ACCEPT_TIMES
    bool "Print times yev_loop YEV_ACCEPT_TYPE"
    default n
    help
        Print elapsed times of several points in yev_loop YEV_ACCEPT_TYPE event

config DEBUG_PRINT_YEV_READ_TIMES
    bool "Print times yev_loop YEV_READ_TYPE"
    default n
    help
        Print elapsed times of several points in yev_loop YEV_READ_TYPE event

config DEBUG_PRINT_YEV_WRITE_TIMES
    bool "Print times yev_loop YEV_WRITE_TYPE"
    default n
    help
        Print elapsed times of several points in yev_loop YEV_WRITE_TYPE event

config DEBUG_PRINT_YEV_TIMER_TIMES
    bool "Print times yev_loop YEV_TIMER_TYPE"
    default n
    help
        Print elapsed times of several points in yev_loop YEV_TIMER_TYPE event

endmenu

#------------------------------#
#   Modules
#------------------------------#
menu "Modules"
source "modules/c/Kconfig"
endmenu
