/*********************************************************
 *      YTable
 *********************************************************/
.ytable {
    /*width: 100%;*/
    table-layout: fixed;
}
.ytable thead, .ytable tbody, .ytable tfoot {
    display: block;
}
.ytable tbody {
    -webkit-overflow-scrolling: touch;
    /*overflow-y: auto;*/
    /*width: 100%;*/
    /*overscroll-behavior: contain; !* Contain scroll behavior within the table *!*/
}
.ytable th, .ytable td {
    padding: 8px;           /* ??? */
    text-align: left;       /* ??? */
    box-sizing: border-box;
    overflow: hidden;
}

.ytable th {
    white-space: nowrap;
}
.ytable td {
    max-height: 3.6em; /* Adjust this value as needed */
    white-space: pre-wrap; /* Wrap text */
    overflow: hidden;
    position: relative;
}
.ytable td::after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    /*background: white;*/
    padding: 0 4px;
    display: none;
}
.ytable td.overflow::after {
    display: block;
}
.ytable tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

:root {
    /*--bulma-table-cell-background-color: var(--bulma-background);*/
}


/*
    TODO change a tabulator-bulma css
    Ensure Bulma styles override Tabulator
*/
.tabulator-col-content.is-success {
    background-color: #48c774 !important; /* Bulma's green color */
    color: white !important; /* Optional: adjust text color for contrast */
}
